// app global css in SCSS form

.no-decor {
  list-style-type: none;
}

.special-green {
  color: #7bb97d !important;
}

.no-mr {
  margin: 0px !important;
}

.bg {
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: -2000;
  background-image: url("~assets/pic/bgModified.jpg");
  background-size: cover;
  background-position: center;
  //opacity: 0.3;
}

*:not(i) {
  font-family: Cambria, Verdana, Georgia, Times, "Times New Roman", serif;
}

.q-carousel__navigation--bottom {
  z-index: 2023;
  div {
    align-items: flex-end;
    justify-content: end;
    padding-right: calc(10% + 32px);
  }
}

.upBtn {
  position: fixed;
  right: 15px;
  bottom: 50px;
  z-index: 1500;
  width: 50px;
  height: 50px;
}
